body {
  font-size: 12px;
}

#graphic {
  max-width: 100%;
  width: 912px;
  margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #dcddde;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}