---
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  
  <title>Graphics | Metro Ideas Project</title>
  <style>
    article img { margin: 1em 0; }
  </style>
</head>
<body>
  {% include navbar.html %}
  
  <div class="grid-small">
    
    {% for post in site.posts limit: 10 %}
    <article>
      {% if post.image %}
        <a href="">
          <img src="" alt="" class="responsive">
        </a>
      {% endif %}
      
      <header style="">
        <h1 class="headline"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <span class="date">{{ post.date | date: '%B %d, %Y'}}</span>  
      <header>

      <p>{{ post.description }}</p>


    </article>
    {% endfor %}
    
  </div>
</body>
</html>