/* ======================================
/* Examples
/* =================================== */

// Common
// -----------------------------------------

// Index container with label and articles
.index {
  .label {
    margin-top: 0; 
    @include text-large;
    @include text-uppercase;
    @include text-meta;
    @include text-strong;
    @include letter-spacing;

    &:after {
      display: block;
      content: "";
      margin-left: 460px;
      margin-right: 460px;
      
      padding-bottom: 0.5em;
      border-bottom: 2px solid $meta;
    }
  }

  // Article img, header
  article {
    img {
      min-height: 25vh;
      object-fit: cover;

      @media (min-width: $small) and (min-height: $small) {
        min-height: 33vh;
      }
    }

    &.featured img {
      max-height: 50vh;
    }

    header {
      margin: 1em auto;
      
      .headline {
        margin: 4px 0;
      }

      .byline {
        margin: 0;
      }
    }
  }

  @media (min-width: $small) and (min-height: $small) {
    &      { padding-top: 1em; }
    .label { padding-bottom: 2em; }
    header { margin: 2em auto; }
  }
}

// Big headlines
.big.headline { @include text-uppercase; }

@media (min-width: $small) and (min-height: $small) {
  .big.headline {
    margin-top: 16px;
    margin-bottom: 16px;
    @include text-strong;
    letter-spacing: 0.1em;  
  }

  h1.big.headline { font-size: 48px; }
  h2.big.headline { font-size: 32px; }
  h3.big.headline { font-size: 24px; }
}

// Read more links
.readmore {
  margin-bottom: 1em;
  @include text-xsmall;
  @include text-uppercase;
  @include letter-spacing;

  a { @include text-meta; }

  @media (min-width: $small) and (min-height: $small) {
    margin-bottom: 3em;
  }
}

// About page
// -----------------------------------------
.about-page {
  .splash {
    background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&w=350&h=150);
  }

  .map {
    background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&w=350&h=150);
  }

  // Splitscreen 
  .chattanooga {
    background-color: $inverse;

    @media (min-width: $small) and (min-height: $small) {
      background-color: $inverse;
      background: linear-gradient(
        to right,
        rgba($inverse, 1) 0%, 
        rgba($inverse, 1) 60%,
        rgba($inverse, 0) 60%,
        rgba($inverse, 0) 100%
      ),
      url(https://placeholdit.imgix.net/~text?txtsize=33&w=350&h=150);

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .lead {
        margin-top: 1em;
        @include text-uppercase;
        @include text-small;
        @include text-muted;
        @include letter-spacing;
      }

      .copy {
        width: 60%;
        padding-top: $small / 4;
        padding-right: 2em;
      }
    }
  }

  // Menu selector
  .process {
    @media (min-width: $small) and (min-height: $small) {
      .nav {
        padding-top: 40px;
        padding-bottom: 40px;
        border-width: 0;
        @include text-right;

        a { color: $meta; }

        .active {
          background-color: transparent;

          a { color: $primary; }
        }
      }

      .targets {
        height: 360px;
        padding-left: 20px;
        border-left: 3px solid $subtle-gray;
      }

      .targets .lead {
        @include text-muted;
      }

      .target {
        padding-top: 40px;
      }
    }
  }

  .team {
    .profile {
      img {

      }

      .name {
        margin-bottom: 0.25em;
      }

      .title {
        margin-top: 0.25em;
        @include text-xsmall;
        @include text-uppercase;
        @include text-meta;
        @include letter-spacing;
      }

      hr.third {
        display: none;
        width: 33%;
        border-bottom: 1px solid $primary;
      }

      @media (min-width: $small) and (min-height: $small) {
        hr.third {
          display: block;
        }
      }

      // To do: Needs to be bundled in with icon settings
      .social-icons.list-inline > li {
        margin-right: 12px;
      }
    }
  }

  .call-to-action {
    background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&w=300&h=200);

    // To do: Move to form.inverse
    &.inverse input.email,
    &.inverse input.zip {
      color: $inverse !important;
      border-color: $inverse !important;
      background-color: rgba($inverse, 0) !important;
    }
  }
}

// Homepage
// -----------------------------------------
.homepage {
  
  // Hide article descriptions on mobile
  .description {
    display: none;

    @media (min-width: $small) and (min-height: $small) {
      display: block;
    }
  }

  .splash {
    .readmore {
      display: none;

      a.button {
        padding: 0.5em 2em;
        @include text-large;
        @include text-uppercase;
      }
    }

    @media (min-width: $small) and (min-height: $small) {
      header {
        @include text-xlarge;  
      }

      .readmore {
        display: block;
      }
    }
  }

  .about {
    .headline { @include text-uppercase; }

    .lead {
      @include text-small;
      @include text-muted;
    }
    
    .readmore {
      margin-top: 1em;
      @include text-left;
      text-transform: none;
    }

    @media (min-width: $small) and (min-height: $small) {
      padding-top: 3em;
      padding-bottom: 4em;
    }
  }

  .naked,
  .reserved {
    @media (min-width: $small) {
      margin-bottom: 2em;
    }
  }

  .naked {
    @media (min-width: $small) {
      padding: 2em 4em 2em 3em;
      background-color: white;  

      .readmore {
        margin-bottom: 0;
      }
    }
  }

  .reserved {
    min-height: 15vh;
    padding: 1em;

    .lead {
      margin: 1em 0;
      @include text-small;
    }

    @media (min-width: $small) {
      min-height: 25vh;
      
      .readmore {
        margin-top: 2em;
        margin-bottom: 0;
      }
    }
  }
}

.article {
  .headline {
    @include text-xlarge;
    margin: 0.5em 0;
  }

  @media (min-width: $small) {
    .byline {
      margin-top: 4em;
    }
  }
}

