// ======================================
// Graphics
// ======================================

pre {
  padding: 1em 0.5em;

}

header { margin: 2em 0; }
    
@media (min-width: $small) {
  .grid-small { margin-top: 80px; }
}

@media (min-width: $small) {
  article {
    margin-bottom: 3em;

    &:after {
      display: block;
      content: "";
      margin-left: 213px;
      margin-right: 213px;
      
      padding-top: 2em;
      border-bottom: 1px solid $primary-50;
    }  
  }
}