body {
  font-size: 12px;
}

#graphic {
  max-width: 100%;
  width: 640px;
  margin: 0 auto;
}

.axis path,
.axis line,
line.axis {
  fill: none;
  stroke: #dcddde;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x.axis line {
  stroke-dasharray: 0.9;
}

line.average {
  stroke: #b1b3b5;
  stroke-dasharray: 0.9;
}

circle.plot {
  fill-opacity: 0.5;
}
