body {
  font-size: 14px;
}

#graphic {
  max-width: 100%;
  width: 768px;
  margin: auto;
}

.axis line,
.axis path {
  fill: none;
  stroke: #dcddde;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

.tick,
.legend {
  font-size: 12px;
}

.key rect {
  width: 12px;
  height: 12px;
}