{% comment %}

Simple inline form to sign up Mailchimp subscribers.

{% endcomment %}


<form class="js-mc-form" action="//metroideas.us11.list-manage.com/subscribe/post?u=f9d7c3f4989701b58fc58c470&amp;id=e50225c31c" method="post">
  <div class="row">
    <input class="span-8 email" type="email" value="" name="EMAIL" placeholder="Email address" required>

    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
      <input type="text" name="b_f9d7c3f4989701b58fc58c470_e50225c31c" tabindex="-1" value="">
    </div>

    <input class="primary" type="submit" value="Sign up" name="subscribe">
  </div>
  
  <p class="js-mc-response">&nbsp;</p>
</form>

