<nav class="navbar js-navbar inverse open">
  <div class="grid">
    <a class="logo" href="{{ "/" | prepend: site.baseurl }}" alt="Metro Ideas Project logo"></a>

    <a href="#" class="toggle">
      <span class="invisible">Dropdown menu toggle</span>
    </a>

    <ul class="nav" style="">
      <li>
        <a href="{{ "/brand/" | prepend: site.baseurl }}">Brand</a>
      </li>

      <li>
        <a href="{{ "/style/base/" | prepend: site.baseurl }}">Style</a>
      </li>
      
      <li>
        <a href="{{ "/examples/" | prepend: site.baseurl }}">Examples</a>
      </li>
    </ul>
  </div>
</nav>

