body {
  font-size: 12px;
}

#graphic {
  max-width: 100%;
  width: 854px;
  margin: 0 auto;
  padding: 0 16px;
}

line {
  shape-rendering: crispEdges;
}

line.quadrant {
  stroke-width: 2px;
  stroke: #b1b3b5;
}

line.divider {
  stroke-width: 1px;
  stroke: #bcbec0;
}