---
layout: default
---

<article class="article">
  <section class="hero-half cover blue overlay inverse" style="background-image: url({{ page.image }})">
    <header class="absolute-lower grid small-center">
      <p class="category">
        {{ page.category }}
      </p>
      <h1 class="headline">
        {{ page.title }}
      </h1>
      <p class="date">
        {{ page.date }}
      </p>
    </header>
  </section>
  
  <div class="grid">
    <div class="span-7 center">
      <p class="byline">
        <!-- include byline.html -->
        By JOHN SMITH
      </p>
      
      <section class="content">
            
        {{ content }}
          
      </section>

      <hr>
          
      <section class="media">
        <!-- include profile.html -->
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=&w=100&h=100" class="round">
        
        <div class="media-body">
          <p><strong>John Smith</strong><br>Research person</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptate perferendis eveniet aut culpa! Nihil dolores at pariatur quidem rem quo, quisquam magnam neque obcaecati inventore adipisci tenetur similique eos.</p>
        </div>
      </section>
    </div>
  </div>
</article>



<!-- Recommended post(s) -->
<article class="article hero-half cover black overlay inverse" style="background-image: url(https://images.unsplash.com/uploads/1412594480669535c9ef9/9d85c477?dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.0.0&ixlib=rb-0.3.5&q=50&w=1250)"> <!-- post.image -->
  <header class="absolute-middle grid small-center">
    <p class="category">
      <!-- post.category -->
      category
    </p>
    <h1 class="headline">
      <!-- post.title -->
      Sample article headline
    </h1>
    <p class="date">
      <!-- post.date -->
      November 17, 2015
    </p>
  </header>  
</article>