---
layout: default
---

<article class="docs">
  <div class="hero-half blue inverse">
    <header class="grid absolute-middle">
      <div class="shift-3">
        <p class="category">{{ page.category }}</p>
        <h1 class="headline">{{ page.title }}</h1>  
      </div>
    </header>
  </div>

  <section class="grid">
    <div class="row">
      {% if page.category == "style" %}
        <ul class="span-3 nav" style="margin-top:40px;">
          {% for doc in site.docs %}
            {% if doc.url == page.url %}
              <li class="active">
                <a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a></li>
              </li>
              {% else %}
              <li>
                <a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <div class="span-3">&nbsp;</div>
      {% endif %}

      <div class="span-9">

        {{ content }}

        <hr>
    
        <p class="text-meta">
          <small>Updated on {{ site.time | date: '%B %d, %Y'}}.</small>
        </p> 
      </div>
    </div>
  </section>
</article>
